

<div class="modal fade in show" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" {{action 'closeModalDialog'}}>&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Hello </p> <h1>{{model.hello}}</h1>
        {{outlet}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" {{action 'closeModalDialog'}}>Close</button>
      </div>
    </div>

  </div>
</div>
